<nav class="d-flex flex-row bg-primary bg-opacity-25">
	<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2" routerLink="/">Home</a>
	<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2" routerLink="/about">About</a>
	@if (authenticated) {
		<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2" routerLink="/users">Users</a>
	}
	@if (!authenticated) {
		<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2" routerLink="/login">Login</a>
	}
	@if (authenticated) {
		<a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover p-2" routerLink="/" (click)="logout()">Logout</a>
	}
</nav>
<router-outlet></router-outlet>
<!-- <gh-welcome></gh-welcome> -->
