/* You can add global styles to this file, and also import other style files */
@use './bootstrap-config.scss';
@use 'bootstrap/scss/bootstrap';
@use '@angular/cdk/overlay-prebuilt.css';
@use '@fortawesome/fontawesome-free/css/all.css';

.cdk-overlay-pane {
	&.loading-overlay {
		background-color: #0a58ca;
		display: grid;
		height: 100%;
		opacity: 0.2;
		width: 100%;
	}
}
