<div class="scene" [class.flipped]="flipped">
	<div class="card-panel" [class.flipped]="flipped">
		<div class="card">
			<img [src]="user().avatar_url" alt="Avatar" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">
					{{ user().login }}
					<a class="icon-link" [href]="user().html_url" target="_blank" data-bs-toggle="tooltip" data-bs-title="User's Github page"><i class="fa-brands fa-github"></i></a>
				</h5>
			</div>
			<div class="card-footer">
				<i class="fa-regular fa-file-text icon card-link" data-bs-toggle="tooltip" data-bs-title="Flip card and show user's bio" data-testid="flipToBack" (click)="flipClicked($event, true)"></i>
				<span class="badge rounded-pill text-bg-dark user-id">{{ user().id }}</span>
			</div>
		</div>
		<div class="card back">
			<div class="card-body">
				@if (fullUser()?.name) {
					<h5 class="card-title user-name">{{ fullUser()?.name }}</h5>
				}
				@if (fullUser()?.location) {
					<div class="card-text user-location">{{ fullUser()?.location }}</div>
				}
				@if (fullUser()?.bio) {
					<div class="card-text user-bio">{{ fullUser()?.bio }}</div>
				}
				@if (fullUser()?.blog) {
					<div class="card-text user-blog"><a data-bs-toggle="tooltip" data-bs-title="${user.blog}" [href]="fullUser()?.blog" target="_blank">Blog</a></div>
				}
				<div class="card-text user-public-repos">
					Public repositories:
					@if (fullUser()?.public_repos) {
						<a href="" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" data-bs-toggle="modal" [attr.data-bs-target]="reposModalId()">{{ fullUser()?.public_repos }}</a>
					}
					@else {
						None
					}
				</div>
			</div>
			<div class="card-footer">
				<i class="fa-regular fa-file-text icon card-link" data-bs-toggle="tooltip" data-bs-title="Flip card and show user's bio" data-testid="flipToBack" (click)="flipClicked($event, false)"></i>
			</div>
		</div>
	</div>
</div>

<div [id]="reposModalId()" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" element.ref="reposModal" aria-labelledby="reposModalLabel" aria-hidden="true">
	<gh-user-repos *ngIf="!!userRepos" [user]="fullUser()" [repos]="userRepos()"></gh-user-repos>
</div>
