@let thisUser = user();
@let thisFullUser = fullUser();

<div class="scene" [class.flipped]="flipped">
	<div class="card-panel" [class.flipped]="flipped">
		<div class="card">
			<img [src]="thisUser.avatar_url" alt="Avatar" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">
					{{ thisUser.login }}
					<a class="icon-link" [href]="thisUser.html_url" target="_blank" data-bs-toggle="tooltip" data-bs-title="User's Github page"><i class="fa-brands fa-github"></i></a>
				</h5>
			</div>
			<div class="card-footer">
				<i #flipIcon class="fa-regular fa-file-text icon card-link" data-bs-toggle="tooltip" data-bs-title="Flip card and show user's bio" data-testid="flipToBack" (click)="flipClicked($event, true)"></i>
				<span class="badge rounded-pill text-bg-dark user-id">{{ thisUser.id }}</span>
			</div>
		</div>
		<div class="card back">
			@if (thisFullUser) {
				<div class="card-body">
					@if (thisFullUser.name) {
						<h5 class="card-title user-name">{{ thisFullUser.name }}</h5>
					}
					@if (thisFullUser.location) {
						<div class="card-text user-location">{{ thisFullUser.location }}</div>
					}
					@if (thisFullUser.bio) {
						<div class="card-text user-bio">{{ thisFullUser.bio }}</div>
					}
					@if (thisFullUser.blog) {
						<div class="card-text user-blog"><a data-bs-toggle="tooltip" data-bs-title="${user.blog}" [href]="thisFullUser.blog" target="_blank">Blog</a></div>
					}
					<div class="card-text user-public-repos">
						Public repositories:
						@if (thisFullUser.public_repos) {
							<a href="" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" data-bs-toggle="modal" [attr.data-bs-target]="'#' + reposModalId()">{{ thisFullUser.public_repos }}</a>
						}
						@else {
							None
						}
					</div>
				</div>
			}
			<div class="card-footer">
				<i class="fa-regular fa-file-text icon card-link" data-bs-toggle="tooltip" data-bs-title="Flip card and show user's bio" data-testid="flipToBack" (click)="flipClicked($event, false)"></i>
			</div>
		</div>
	</div>
</div>

<div #reposModal [id]="reposModalId()" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reposModalLabel" aria-hidden="true">
	<gh-user-repos [user]="thisFullUser" [repos]="userRepos()"></gh-user-repos>
</div>
