@let thisRepo = repo();

<div class="container top-container">
	<div class="row">
		<div class="col repo-name">
			<span data-testid="repoName">{{ thisRepo.name }}</span>
			<a class="icon-link gh-link" [href]="thisRepo.html_url" data-bs-toggle="tooltip" data-bs-title="Repository page" target="_blank"><i class="fa-brands fa-github"></i></a>
		</div>
		<div class="col-3 text-end text-secondary last-commit">
			Last commit: {{ thisRepo.pushed_at_date?.toLocaleDateString() }}
		</div>
		<div class="col-1 text-end collapse-trigger">
			<i role="button" class="fa-solid" [class.fa-chevron-down]="collapsed()" [class.fa-chevron-up]="!collapsed()" data-bs-toggle="collapse" [attr.data-bs-target]="'#repo-' + thisRepo.id" data-testid="collapseTrigger"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-8 text-secondary description">{{ thisRepo.description }}</div>
	</div>
</div>

<div #collapse [id]="'repo-' + thisRepo.id" class="collapse repo-details" data-testid="repoDetails">
	<div class="container">
		@if (parentRepo(); as parentRepo) {
			<div class="row">
				<div class="col-3"><span class="caption fw-semibold">Forked from:</span></div>
				<div class="col">
					<a class="icon-link gh-link" [href]="parentRepo.html_url" data-bs-toggle="tooltip" data-bs-title="Parent repository page" data-testid="parentRepoFullName" target="_blank">{{ parentRepo.full_name }}</a>
				</div>
			</div>
		}
		<div class="row">
			<div class="col-3"><span class="caption fw-semibold">Contributors ({{ contributors().length }}):</span></div>
			<div class="col">
				<span class="value contributors" data-testid="contributors">
					@for (contributor of contributors(); track contributor.id; let last = $last) {
						<a [class.last]="last" [href]="contributor.html_url" target="_blank">{{ contributor.login }}@if (!last) { <span class="separator">, </span> }</a>
					}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-3"><span class="caption fw-semibold">Languages:</span></div>
			<div class="col-6">
				<div class="value languages" data-testid="languages">
					@for (language of sortedLanguages(); track $index) {
						<div class="progress bg-light" role="progressbar" [attr.aria-valuenow]="language[1]" aria-valuemin="0" [attr.aria-valuemax]="totalLanguages">
							<div class="progress-bar bg-warning-subtle text-start overflow-visible text-black px-2" [style.width]="(100 * language[1] / totalLanguages).toFixed(2) + '%'" data-testid="languageRow">{{ language[0] }} ({{ (100 * language[1] / totalLanguages).toFixed(2) }}%)</div>
						</div>
					}
					@empty {
						No languages specified
					}
				</div>
			</div>
		</div>
	</div>
</div>
