:host {
	.top-container {
		padding: 0;

		.repo-name {
			.icon-link {
				font-size: 12px;
				margin-left: 4px;
			}
		}

		.last-commit {
			font-size: 12px;
		}

		.collapse-trigger {
			font-size: 12px;
		}

		.description {
			font-size: 12px;
		}
	}

	.repo-details {
		font-size: 0.8rem;
		padding-top: 8px;

		.row {
			padding: 4px 0;

			.value {
				&.contributors {
					a {
						text-decoration: none;
					}
				}

				&.languages {
					.progress:not(:first-of-type) {
						margin-top: 4px;
					}
				}
			}
		}
	}

	.gh-link {
		font-size: .8rem;
		text-decoration: none;
	}
}
