<div class="row">
	<div class="col-3">
		<div class="login-email-password card p-3">
			<div class="card-body">
				<h4 class="card-title pb-3">Login with email and password</h4>
				<form [formGroup]="loginForm" (ngSubmit)="submit()">
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="text" class="form-control" formControlName="email" placeholder="Email" data-testid="email">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" data-testid="password">
					</div>
					<div class="mb-3">
						<div class="invalid-feedback" [ngClass]="{'d-block': !validCredentials()}" data-testid="invalidCredentials">Wrong credentials</div>
					</div>
					<button type="submit" class="btn btn-primary" id="submitUserPassword" [disabled]="!loginForm.valid">Submit</button>
					@if (loading()) {
						<div class="spinner-border spinner-border-sm ms-4" role="status" data-testid="spinner"></div>
					}
				</form>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="login-google card p-3">
			<div class="card-body">
				<h4 class="card-title pb-3">Login with Google</h4>
				<button type="button" class="btn btn-primary" id="submitGoogle" (click)="goToGoogleLogin()">Go</button>
			</div>
		</div>
	</div>
</div>
