<div class="row">
	<div class="col-3">
		<div class="login-email-password card p-3">
			<div class="card-body">
				<h4 class="card-title pb-3">Login with email and password</h4>
				<form>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="text" class="form-control" [formField]="loginForm.email" placeholder="Email" data-testid="email" />
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" class="form-control" id="password" [formField]="loginForm.password" placeholder="Password" data-testid="password" />
					</div>
					<button type="button" class="btn btn-primary" id="submitUserPassword" [disabled]="!loginForm().valid() || loginForm().submitting()" (click)="submitForm()">Submit</button>
					@if (loginForm().submitting()) {
						<div class="spinner-border spinner-border-sm ms-4" role="status" data-testid="spinner"></div>
					}
				</form>
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="login-google card p-3">
			<div class="card-body">
				<h4 class="card-title pb-3">Login with Google</h4>
				<button type="button" class="btn btn-primary" id="submitGoogle" (click)="goToGoogleLogin()">Go</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<div class="invalid-feedback ps-3" [class.d-block]="connectionError()" data-testid="dbConnectionError">Database connection error</div>
		<div class="invalid-feedback ps-3" [class.d-block]="serverError()" data-testid="serverError">Server error</div>
		<div class="invalid-feedback ps-3" [class.d-block]="!validCredentials()" data-testid="invalidCredentials">Wrong credentials</div>
	</div>
</div>
